<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
      <span class="navbar-brand">
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="logo-circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
           y="0px" viewBox="0 0 1033 1036" style="enable-background:new 0 0 1033 1036;" xml:space="preserve">
      <style type="text/css">
          .st0{fill:#FFFFFF;}
          .st1{fill:none;}
          #logo-circle{width:28px;height:28px;margin-top:-5px;}
      </style>
      <g>
          <g id="rahmen">
              <path class="st0" d="M518,81c58.8,0,115.7,11.5,169.3,34.2c51.8,21.9,98.3,53.3,138.3,93.3c40,40,71.3,86.5,93.3,138.3
                  C941.5,400.3,953,457.2,953,516s-11.5,115.7-34.2,169.3c-21.9,51.8-53.3,98.3-93.3,138.3c-40,40-86.5,71.3-138.3,93.3
                  C633.7,939.5,576.8,951,518,951s-115.7-11.5-169.3-34.2c-51.8-21.9-98.3-53.3-138.3-93.3c-40-40-71.3-86.5-93.3-138.3
                  C94.5,631.7,83,574.8,83,516s11.5-115.7,34.2-169.3c21.9-51.8,53.3-98.3,93.3-138.3c40-40,86.5-71.3,138.3-93.3
                  C402.3,92.5,459.2,81,518,81 M518,16C241.9,16,18,239.9,18,516s223.9,500,500,500c276.1,0,500-223.9,500-500S794.1,16,518,16
                  L518,16z"/>
          </g>
          <g id="background">
              <circle class="st1" cx="518" cy="516" r="435"/>
          </g>
          <g id="cb">
              <path id="b" class="st0" d="M683.3,481.1c14.3,22,29.8,43.6,49.2,61.2c12.5,11.3,31,21.2,45.5,12.5c6.5-3.9,10.6-10.9,14-17.7
                  c8.4-16.5,15-34.5,13.9-52.9c-1.1-18.4-11.4-37.2-28.7-43.8c-13.2-5.1-28.4-2.3-41,4.1c-12.6,6.4-23.1,16.2-33.5,25.8
                  c-7.9-9.3-14.7-19.4-20.5-30.1c-1.1-2-2.2-4.2-1.9-6.5c0.3-2.4,2-4.5,3.6-6.3c23.2-25.5,53.6-44.5,86.7-54.1
                  c25-7.2,53.3-8.8,75.8,4.3c17.4,10,29.3,27.8,35.4,46.9c6,19.1,6.5,39.6,4.8,59.5c-4,46.7-19.9,92.4-45.7,131.5
                  c-9.8,14.8-21.2,28.8-35.8,38.9c-14.6,10-32.9,15.7-50.3,12.5c-14.8-2.7-27.8-11.4-39-21.3c-26.4-23.3-45.2-54-60.9-85.5
                  c-46.6-93.2-69.9-196.5-83.7-299.8C604.8,335.8,638.4,411.7,683.3,481.1z"/>
              <path id="c" class="st0" d="M195.1,367c34.7-38.6,87.1-59.1,139.1-59.6c51.9-0.5,102.9,17.9,146.1,46.8s78.8,67.9,108.6,110.3
                  c-47-41.1-107.2-67.9-169.6-71.6c-43.4-2.6-90.5,7.5-119.8,39.6c-34.4,37.7-35.3,97-15.9,144.3c17.2,41.9,51.5,79.4,95.7,88.9
                  c44.8,9.6,91-10.7,127.2-38.8c41.9-32.5,74.6-75.2,105.6-118.1c6.8,12.4,12.7,25.4,17.6,38.6c1.7,4.7,3.4,9.7,2.7,14.6
                  c-0.7,4.8-3.5,9-6.2,13.1c-31.9,46.4-69.8,88.6-112.4,125.3c-44.6,38.5-98.4,72.3-157.4,71.7c-45.2-0.5-88.7-21.8-121.2-53.2
                  c-32.5-31.4-54.6-72.3-69.3-115.1c-13.5-39.4-21.1-81.4-17.5-123C152,439.2,167.2,398.1,195.1,367L195.1,367z"/>
          </g>
      </g>
      </svg>
         &ensp;<%= link_to "CodeBatch", root_path, class: "navbar-brand" %>
         </span>
   <div class="input-group top-4 search">
       <%= form_tag(articles_path, :method => "get", id: "search-form", class: 'bg-dark no-border') do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Articles .. (Type keyword and hit 'Enter')", class: 'form-control search-input bg-lightdark no-border text-light' %>
          <%= submit_tag "Search", class: 'btn btn-primary btn-sm ms-2 ps-5 pe-5 hidden', :name => nil %>
        <% end %>
   </div>
  
  <div class="position-absolute top-4 end-0 nav-user-link" style="margin-right: 4rem;color:#fff;width:auto;">
    

    <li class="nav-link dropdown">
        <a class="nav-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
        
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
            <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/>
            <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/>
            </svg>

        </a>&ensp;
        <ul class="dropdown-menu bg-dark p-2 text-center" style="min-width:1rem;">
            <li class="dropdown-item"><%= link_to t('nav.german'), locale: :de %></li>
            <li class="dropdown-item"><%= link_to t('nav.english'), locale: :en %></li>
        </ul>
    </li>
  
  </div>

   <div class="position-absolute top-4 end-0 nav-user-link" style="margin-right: 8rem;color:#fff;width:auto;">
        <% if user_signed_in? %>

            <li class="nav-link dropdown">
                <a class="nav-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= current_user.email %></a>&ensp;
                <ul class="dropdown-menu bg-dark p-2">
                    <li><%= link_to t('nav.my-user-panel'), dashboard_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-data'), dashboard_data_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-stats'), dashboard_stats_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-articles'), dashboard_articles_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-videos'), dashboard_videos_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-podcasts'), dashboard_podcasts_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-jobs'), dashboard_jobs_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-discussions'), dashboard_discuss_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-saved-articles'), dashboard_saved_articles_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-liked-articles'), dashboard_liked_articles_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-follows'), dashboard_follows_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-profile'), dashboard_profile_path, class: 'dropdown-item' %></li>
                    <li><%= link_to t('nav.my-settings'), dashboard_settings_path, class: 'dropdown-item' %></li>
                    <div class="d-grid gap-2 mt-4">
                        <%= link_to destroy_user_session_path, class: 'btn btn-danger', method: :delete do %>Log out<% end %>
                    </div>
                </ul>
            </li>

            <% else %>

            <span class="nav-link" style="color:#fff;margin-right: 1rem;width:auto;">
                <%= link_to t('nav.signup'), new_user_registration_path  %> |
                <%= link_to t('nav.login'), new_user_session_path  %>
            </span>

        <% end %>
   </div>
   <a class="btn top-4 end-0 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
    </a>
  </div>
</nav>

<!-- OFF CANVAS MENU -->
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="offcanvasExampleLabel">
          <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="logo-circle-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 1033 1036" style="enable-background:new 0 0 1033 1036;" xml:space="preserve">
<style type="text/css">
	.st2{fill:#fff;}
	.st3{fill:none;}
    #logo-circle-mobile{width:28px;height:28px;margin-top:-5px;}
</style>
<g>
	<g id="rahmen">
		<path class="st2" d="M518,81c58.8,0,115.7,11.5,169.3,34.2c51.8,21.9,98.3,53.3,138.3,93.3c40,40,71.3,86.5,93.3,138.3
			C941.5,400.3,953,457.2,953,516s-11.5,115.7-34.2,169.3c-21.9,51.8-53.3,98.3-93.3,138.3c-40,40-86.5,71.3-138.3,93.3
			C633.7,939.5,576.8,951,518,951s-115.7-11.5-169.3-34.2c-51.8-21.9-98.3-53.3-138.3-93.3c-40-40-71.3-86.5-93.3-138.3
			C94.5,631.7,83,574.8,83,516s11.5-115.7,34.2-169.3c21.9-51.8,53.3-98.3,93.3-138.3c40-40,86.5-71.3,138.3-93.3
			C402.3,92.5,459.2,81,518,81 M518,16C241.9,16,18,239.9,18,516s223.9,500,500,500c276.1,0,500-223.9,500-500S794.1,16,518,16
			L518,16z"/>
	</g>
	<g id="background">
		<circle class="st3" cx="518" cy="516" r="435"/>
	</g>
	<g id="cb">
		<path id="b" class="st2" d="M683.3,481.1c14.3,22,29.8,43.6,49.2,61.2c12.5,11.3,31,21.2,45.5,12.5c6.5-3.9,10.6-10.9,14-17.7
			c8.4-16.5,15-34.5,13.9-52.9c-1.1-18.4-11.4-37.2-28.7-43.8c-13.2-5.1-28.4-2.3-41,4.1c-12.6,6.4-23.1,16.2-33.5,25.8
			c-7.9-9.3-14.7-19.4-20.5-30.1c-1.1-2-2.2-4.2-1.9-6.5c0.3-2.4,2-4.5,3.6-6.3c23.2-25.5,53.6-44.5,86.7-54.1
			c25-7.2,53.3-8.8,75.8,4.3c17.4,10,29.3,27.8,35.4,46.9c6,19.1,6.5,39.6,4.8,59.5c-4,46.7-19.9,92.4-45.7,131.5
			c-9.8,14.8-21.2,28.8-35.8,38.9c-14.6,10-32.9,15.7-50.3,12.5c-14.8-2.7-27.8-11.4-39-21.3c-26.4-23.3-45.2-54-60.9-85.5
			c-46.6-93.2-69.9-196.5-83.7-299.8C604.8,335.8,638.4,411.7,683.3,481.1z"/>
		<path id="c" class="st2" d="M195.1,367c34.7-38.6,87.1-59.1,139.1-59.6c51.9-0.5,102.9,17.9,146.1,46.8s78.8,67.9,108.6,110.3
			c-47-41.1-107.2-67.9-169.6-71.6c-43.4-2.6-90.5,7.5-119.8,39.6c-34.4,37.7-35.3,97-15.9,144.3c17.2,41.9,51.5,79.4,95.7,88.9
			c44.8,9.6,91-10.7,127.2-38.8c41.9-32.5,74.6-75.2,105.6-118.1c6.8,12.4,12.7,25.4,17.6,38.6c1.7,4.7,3.4,9.7,2.7,14.6
			c-0.7,4.8-3.5,9-6.2,13.1c-31.9,46.4-69.8,88.6-112.4,125.3c-44.6,38.5-98.4,72.3-157.4,71.7c-45.2-0.5-88.7-21.8-121.2-53.2
			c-32.5-31.4-54.6-72.3-69.3-115.1c-13.5-39.4-21.1-81.4-17.5-123C152,439.2,167.2,398.1,195.1,367L195.1,367z"/>
	</g>
</g>
</svg>
          CodeBatch</h3>
    <button type="button" class="btn-close text-reset bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="p-3 mb-2 text-light" style="background: #343a40;">
        <%= t('nav.description.html') %>
       <br>
       <br>
       <div class="d-grid gap-2">
       <% if user_signed_in? %>
            <div class="d-flex justify-content-center"><%= current_user.email %></div>
            <%= link_to destroy_user_session_path, class: 'btn btn-danger', method: :delete do %>Log out<% end %>
            <% else %>

            <%= link_to t('nav.signup'), new_user_registration_path, class: 'btn btn-primary' %>
            <%= link_to t('nav.login'), new_user_session_path, class: 'btn btn-dark' %>
        <% end %>
       </div>
     </div>
    <div class="mt-4">
      <div class="list-group">
        
            <%= link_to t('nav.start.html'), root_path, type:"button", class: "list-group-item list-group-item-action bg-dark bi bi-house-door-fill p-2 no-border" %>
        
            <%= link_to t('nav.articles.html'), articles_path, type:"button", class: "bi bi-stickies-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.listings.html'), articles_path, type:"button", class: "bi bi-signpost-2-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>

            <%= link_to t('nav.videos.html'), videos_path, type:"button", class: "bi bi-camera-reels-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.podcasts.html'), videos_path, type:"button", class: "bi bi-mic-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.news.html'), videos_path, type:"button", class: "bi bi-newspaper list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.discussions.html'), videos_path, type:"button", class: "bi bi-question-diamond-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.help.html'), videos_path, type:"button", class: "bi bi-info-circle-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.about-us.html'), videos_path, type:"button", class: "bi bi-person-lines-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.contact.html'), contact_path, type:"button", class: "bi bi-chat-text-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.tags.html'), videos_path, type:"button", class: "bi bi-tags-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.code-of-conduct.html'), code_of_conduct_path, type:"button", class: "bi bi-hand-thumbs-up-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.terms-of-use.html'), terms_of_use_path, type:"button", class: "bi bi-patch-check-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.faq.html'), videos_path, type:"button", class: "bi bi-lightbulb-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.codebatch-shop.html'), videos_path, type:"button", class: "bi bi-bag-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.sponsors.html'), videos_path, type:"button", class: "bi bi-heart-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
            <%= link_to t('nav.privacy.html'), privacy_police_path, type:"button", class: "bi bi-shield-lock-fill list-group-item list-group-item-action bg-dark p-2 no-border" %>
        
      </div>
    </div>
  </div>
</div>
