
<!-- <% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to articles_path, class: 'login-button' do %>Go to App<% end %>
	<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %> -->


<div class="container"  style="margin-top: 4em;">
  <div class="row">
    <div class="col mobile-display-none">

    <div class="card mt-4 w-100 bg-dark text-light">
        <%= image_tag "cb_wallpaper-black-logo-v4-purple-transparent.png", class: 'w-100' %>
        <div class="card-body">
        <h5 class="card-title">CodeBatch</h5>
        <p class="card-text"><%= t('home.index.description.html') %></p>
        <div class="d-grid gap-2">
        <% if user_signed_in? %>
            <div class="d-flex justify-content-center"><%= current_user.email %></div>
            <%= link_to destroy_user_session_path, class: 'btn btn-danger', method: :delete do %>Log out<% end %>
            <% else %>

            <%= link_to('Sign up', new_user_registration_path, class: 'btn btn-primary') %>
            <%= link_to('Log in', new_user_session_path, class: 'btn btn-dark')  %>  
        <% end %>
        </div>
        </div>
    </div>

      
    <ol class="list-group list-group-numbered mt-4">
    <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-success rounded-pill"># new</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-success rounded-pill"># new</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-success rounded-pill"># new</span>
    </li>
  </ol>


  <div class="card mt-4 w-100 bg-dark text-light">
        <div class="card-body">
        <h5 class="card-title">Tags</h5>
        </div>
    </div>


    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6">Listings</span>
        <div class="list-group-item list-group-item-action bg-dark"></div>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark" tabindex="-1" aria-disabled="true">A disabled link item</a>
    </div>

    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6">Podcasts</span>
        <div class="list-group-item list-group-item-action bg-dark"></div>
        <% @podcasts.each do |podcast| %>
          <%= link_to podcast.title, podcast, class: "list-group-item list-group-item-action bg-dark" %>
        <% end %>
    </div>

    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6">Videos</span>
      <div class="list-group-item list-group-item-action bg-dark"></div>
        <% @videos.each do |video| %>
          <%= link_to video.title, video, class: "list-group-item list-group-item-action bg-dark" %>
        <% end %>
      
    </div>


    </div>
    <div class="col-sm-12 col-lg-6">

    <div class="row row-cols-1 row-cols-md-2 g-4 mt-1">

    <% @articles.each do |article| %>
      <% unless article.archived? %>

      <div class="col-12 col-md-12">
        
        <div class="card bg-dark h-100">
          <img src="https://via.placeholder.com/300x150/000000" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article %></h5>
            <p class="card-text"><%= article.description %></p>
          </div>
          <div class="card-footer">
            <span class="d-flex flex-row-reverse">
            <% if user_signed_in? %>
              <%= link_to "Like", article_path(article), class: 'btn btn-danger btn-sm' %>&ensp;
              <%= link_to "Save", article_path(article), class: 'btn btn-success btn-sm'  %>&ensp;
            <% end %>
              <%= link_to "Show", article_path(article), class: 'btn btn-primary btn-sm'  %>
            </span>
            <div class="d-flex">
            <small class="d-flex flex-row text-warning"><%= article.comments.count %> Comment(s)</small>&emsp;
            <small class="d-flex flex-row text-danger"><%= article.likes.count %> Like(s)</small>
            </div>
          </div>
        </div>

      </div>

      <% end %>
      <% end %>

    </div>


    </div>
    <div class="col mobile-display-none">

    <div class="card mt-4 w-100 bg-dark text-light position-relative">
    <span class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6">CodeBatch Shop</span>
        <div class="card-body">
        <%= image_tag "shop.jpg", class: 'w-100 mt-2' %>
        <p class="card-text text-warning mt-2">
        # new products arrived !!
        </p>
        
        <div class="d-grid gap-2">
        <button class="btn btn-primary">Visit Shop</button>
        </div>
        </div>
    </div>

      
    <ol class="list-group list-group-numbered mt-4">
    <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-success rounded-pill"># new</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-success rounded-pill"># new</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-success rounded-pill"># new</span>
    </li>
  </ol>


    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6"># news</span>
        <div class="list-group-item list-group-item-action bg-dark"></div>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A disabled link item</a>
    </div>

    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6"># discuss</span>
        <div class="list-group-item list-group-item-action bg-dark"></div>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A disabled link item</a>
    </div>

    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6"># help</span>
        <div class="list-group-item list-group-item-action bg-dark"></div>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A disabled link item</a>
    </div>

    <div class="list-group mt-4 position-relative">
    <span style="z-index: 100;" class="badge bg-primary rounded-pill top-0 start-50 position-absolute translate-middle fs-6"># jobs</span>
        <div class="list-group-item list-group-item-action bg-dark"></div>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A second link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A third link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A fourth link item</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark">A disabled link item</a>
    </div>

    </div>
  </div>
</div>
